* {
  font-family: "Mulish", sans-serif;
}
/* main{
  align-items: center;
} */
/* header style */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div {
  display: flex;
}
.title {
  align-items: center;
  margin-left: 60px;
  width: 100%;
}
.title-logo {
  width: 48px;
  height: 56.008px;
  margin-right: 30px;
}
.section-title {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.section-title span {
  color: #ff5400;
  font-size: 36px;
  font-weight: 800;
}
.section-title img {
}
nav > ul {
  display: flex;
}
ul span {
  color: #ff5400;
  font-size: 18px;
  font-weight: 700;
}
.menu-bar > li {
  list-style: none;
  color: #424247;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  margin-right: 50px;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* explore section */
.banner {
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/banner.png);
  width: 1170px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
}
.explore-title {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  padding-top: 80px;
  margin: 0;
}
.explore-description {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
/* find search now  */
.find-now {
  display: inline-flex;
  /* justify-content: center; */
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.text-type {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  border: none;
}
.btn-find {
  border-radius: 8px;
  background: #ff5400;
  width: 174px;
  height: 52px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
/*  Our Popular section */
.tour-section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  padding: 50px;
  gap: 130px;
}
.tour-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin: 20px 0;
}
.tour-section > div li {
  margin-bottom: 34px;
}
.btn-read {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  margin-top: 45px;
  cursor: pointer;
}
.tour-description {
  width: 577px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.tour-description2 {
  width: 530px;
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.image-tour {
  margin-top: 50px;
  width: 540px;
  height: 550px;
}
/* Destination Section */
.destination-div,
.why-choose-div {
  text-align: center;
  justify-content: center;
}
.destination-title,
.why-choose-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.destination-description,
.why-choose-description {
  color: rgba(19, 19, 24, 0.7);
  font-weight: 400;
  line-height: 26px;
}
/* Places part  */
.two-img {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.maldives {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle\ 5.png);
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  padding: 132px 227px;
  border-radius: 16px;
}
.indonesia {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle\ 8.png);
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  padding: 132px 220px;
}
.three-img {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.srilanka {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle\ 6.png);
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  padding: 125px 130px;
  margin: 0;
}
.north-america {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle\ 7.png);
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  padding: 125px 136px;
  margin: 0;
}
.kashmir {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle\ 9.png);
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  padding: 125.5px 81px;
  margin: 0;
}
.last-two {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.bangladesh {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle\ 11.png);
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  padding: 132.5px 155.5px;
  margin-bottom: 5px;
}
.bandarban {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle\ 10.png);
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  padding: 132.5px 259.5px;
  margin-bottom: 5px;
}
/* why Choose Us */
.services,
.best-div {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.hotels {
  color: #131318;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  text-align: left;
  padding: 128px 320px 0 32px;
}
.services-description {
  text-align: left;
  width: 486px;
  color: #5a5a5d;
  font-weight: 400;
  line-height: 26px;
  padding: 0 0 32px 32px;
}
.hotel-div {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.world-div {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.best-div-2 {
  margin-top: 24px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .banner {
    width: 100%;
    height: 483px;
    margin-left: 50px;
  }
  .explore-title {
    color: #fff;
    font-size: 22px;
    font-weight: 800;
    padding-top: 20px;
  }
  .find-now,
  header,
  .tour-section,
  .two-img,
  .three-img,
  .last-two {
    align-items: center;
    flex-direction: column;
  }
}
